* @wirednkod
/syllabus/1-Cryptography/ @drskalman
/syllabus/2-Economics/ @jonasW3F
/syllabus/3-Blockchain/ @JoshOrndorff
/syllabus/5-Smart_contracts/ @fbielejec
/syllabus/6-Polkadot-SDK/ @kianenigma @shawntabrizi @franciscoaguirre
/syllabus/7-Polkadot/ @shawntabrizi @Overkillus
