/* https://github.com/hakimel/reveal.js/issues/566#issuecomment-554751744 */
.reveal-viewport {
	background:url('background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
	/* the following are for firefox 70 */
	opacity:1;
	z-index:1;
}

@media print {
	.backgrounds {
		background:url('background.png');
		/* if you used "cover" on screen,
		 * you will probably want "contains" on print */
		background-size:contain;
	}
}

.left {
    text-align: left;
    float: left;
    z-index:-10;
    width:50%;
}

.right {
    text-align: left;
    float: right;
    z-index:-10;
    width:50%;
}

.small{
    font-size: 0.7em;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

/* fill vertical space */
.fill {
    height: 70vh;
}

/* expand code view to maximal size in div */
.fill pre {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
}

/* fragment code has shadow divs with different padding */
.fill pre code{
    padding: 0 0 0 0;
}

/* code lines have strange padding */
.reveal p {
    margin: 0 0 0 0;
}