# Ignore build/dev artifacts:
node_modules
build
.cache
.yarn
.github
public
package-lock.json
yarn.lock

# Ignore files that don't need *text* formatting
assets
plugin

CONTRIBUTING.md
LICENSE.md
README.md
SECURITY.md