/* https://github.com/hakimel/reveal.js/issues/566#issuecomment-554751744 */
.reveal-viewport {
    background-color: #0d2378;
}

.watermark-logo {
    position:fixed;
    width: 7%;
    top:1%;
    left:1%;
    z-index:99;
}

.watermark-icon {
    position:fixed;
    width: 2%;
    top:1%;
    right:1%;
    z-index:99;
}

a:link, a:visited {
    color: #8d3aed;
}

a:hover, a:active {
    color: #e6007a;
}

.left {
    text-align: left;
    float: left;
    z-index:-10;
    width:48%;
}

.right {
    text-align: left;
    float: right;
    z-index:-10;
    width:48%;
}

.small-text{
    font-size: 0.7em;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

/* fill vertical space */
.fill-vertical {
    height: 70vh;
}

/* expand code view to maximal size in div */
.fill pre {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
}

/* fragment code has shadow divs with different padding */
.fill pre code{
    padding: 0 0 0 0;
}