/*
  custom-elements
*/
/* columns:  a widget to display columns of things */
widget-columns {
  display: flex;
  align-items: center;
}
widget-column {
  text-align: left;;
  flex-basis: 50%;
  padding: var(--size);
}

/* text: some text base styling */

widget-text {
  display: block;
  text-align: left;
}
widget-text[right] {
  text-align: right;
}

/*
  web-components
*/
/* speaker card */
widget-speaker {
  /* local variables */
  --size-image: 20rem;

  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: var(--size);
}

* + widget-speaker {
  padding-top: calc(var(--size) * 2);
}

widget-speaker[small] widget-speaker-social {
  display: none;
}

widget-speaker[small] widget-speaker-image {
  width: calc(var(--size-image) / 3) !important;
  height: calc(var(--size-image) / 3) !important;
}
widget-speaker[small] widget-speaker-position {
  margin-bottom: 0;
}

widget-speaker-body {
  display: flex;
  flex-direction: column;
}
widget-speaker-image {
  width: var(--size-image) !important;
  height: var(--size-image) !important;

  margin-right: calc(var(--size) / 2);
  border-radius: 50%;
  overflow: hidden;
  transform: scale(0.2);
  opacity: 0;
  transition: transform 808ms ease-in-out, opacity 707ms ease-in-out;
}
widget-speaker-image img {
  margin-top: 0 !important;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
widget-speaker-name {
  font-size: var(--r-heading4-size);
  font-weight: bold;
}
widget-speaker-position {
  font-size: var(--r-heading4-size);
  margin-bottom: 1em;
}

widget-speaker-social {
  display: flex;
  flex-direction: column;
}
widget-speaker-social-link {}
widget-speaker-social-link-title {
  margin-right: 0.5em;
  text-transform: capitalize;
}

/* speaker card when within slides */
.stack.present widget-speaker-image {
  transform: scale(1);
  opacity: 1;
}

/* widget-image */
widget-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
widget-image img {
  margin-top: 0 !important;
  max-height: 90vh !important;
}
/* widget-image when fullscreen*/
widget-image[fullscreen] {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
widget-image[fullscreen] img {
  max-height: none !important;
  max-width: none !important;
  object-fit: cover;
  width: 100%;
}

widget-image[fullscreen="fill"] img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
