/*
  custom-elements
*/
/* columns:  a widget to display columns of things */
widget-columns {
  display: flex;
  align-items: center;
}
widget-column {
  text-align: left;;
  flex-basis: 50%;
  padding: var(--size);
}

/* text: some text base styling */

widget-text {
  text-align: left;
}
widget-text[right] {
  text-align: right;
}

/*
  web-components
*/
/* speaker card */
widget-speaker {
  display: flex;
  flex-direction: column;
}
widget-speaker-name {
  font-size: var(--r-heading2-size);
  font-weight: bold;
}
widget-speaker-position {
  font-size: var(--r-heading2-size);
}
